body{
	background-color:#F5F5F5;
	font-family: cursive;
	color:#4F4F4F;
}

#app{
	width: 70%;
	margin: auto;
}

#main{
	background-color:  #E6E6FA;
	margin: 2% 1%;
	padding:2% 3%;
}

#but, #foot{
	margin: 1%;
	padding:2%;
	text-align:center;
	background-color:#E6E6FA;
}

h1,h3{
	color:#4F4F4F;
	text-align: center;
}

.remove{
	float:right;
}

.highlight{
	color : #9C9C9C;
	text-decoration:line-through; 
	background-color: #E6E6FA;
	margin: 1%;
	padding:2%;
	
}

.taskList, .hidd{
	background-color: #E6E6FA;
	margin: 1%;
	padding:2%;
	border-bottom: 2px solid #F5F5F5;
}
